footer{
    background-color: var(--primary-color);
    border-radius: 31px;
    padding: 20px 0;
    border: 1px solid #FFFFFF;
    box-shadow: var(--box-shadow2);
    margin: 2rem 4rem;

}

footer.dark{
    background-color: #454447;
    border: 0;
}

.socialMedia{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
    grid-auto-rows: 1fr;
  
}

@media (min-width:992px){
    .socialMedia{
        grid-template-columns: repeat(auto-fit,minmax(20px,1fr));
    }
}

.singleMediaCard{
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    background-color: var(--primary-color);
}


.singleMediaCard:hover {
    transform: scale(1.1);
}



.copyRight p{
    text-align: center;
    font-size: 1rem;
    color: #0F1765;
    font-family: var(--montseerat);
    font-weight: 500;
}

.copyRight.dark p{
    color: white;
}

@media (max-width:768px){
    footer{
        margin: 2rem 0rem;
        border-radius: 0;
    }
}