section.product{
    padding: 4rem 0;
}


.products{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 4rem;
}

.column h1{
    text-align: center;
    color: #0F1765;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.column.dark h1{
    color: white;
}

button.productBtn{
    text-transform: uppercase;
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid white;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    transition: all ease .5s ;
}

button.productBtn:hover{
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: transparent;
}

button.productBtn.dark:hover{
    background-color: transparent;
}

button.productBtn.dark{
    background-color: #454447;
}